
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <!-- jQuery kütüphanesi CDN adresi -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>_MainLayout</title>
</head>


<div class="info">
    <div style="display:inline-block">
        <div class="info-baslik" style="margin-top:110px"><p><span>watch</span> Hakkında</p></div>
        <div class="info-bilgi">
            <br />
            <p><span>watch</span>, 2023 yılında kurulan ve kurulduğu andan itibaren sektörün ihtiyacı doğrultusunda en beğenilen dizi ve filmleri sizlerle buluşturmanın yanı sıra yeni çıkacak olan dizi ve filmleri de sizlere bildirmek amacı ile canla başla çalışan dünyanın en popüler film ve dizi platformudur.</p>
            <br /> <br />
            <p class="info-soru">Neden <span>watch</span>?</p>
            <br /> <br />
            <p>Bir sonraki izlemek istediğiniz film veya diziye karar veremediyseniz,</p>
            <p>Yakında çıkacak olan filmlerden anında haberdar olmak için,</p>
            <p>Filmler veya diziler hakkında daha fazla bilgi almak için</p>
            <p><span>watch</span> sizin için doğru adres.</p>
        </div>
    </div>
    <div class="info-foto"><img src="/Images/film.jpg" alt="Alternate Text" /></div>
</div>

