@model List<EntityLayer.Sınıflar.Yakindakiler>
@{
    ViewData["Title"] = "YakinGoruntule";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yakında Çıkacak Olan Filmler</h1>

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Film Adı</th>
        <th>Film Türü</th>
        <th>Filmin Vizyon Tarihi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.YakinAdi</td>
            <td>@x.FilmTur.FilmTurAd</td>
            <td>@x.YakinTarih</td>
            <td><a href="/Admin/YakinSil/@x.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/YakinGetir/@x.Id" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Admin/YakinEkle" class="btn btn-primary">Yeni Film Ekle</a>
